<% include ../partials/header %>
<div class="container">
    <div class="row">
       <div class="col-lg-9">
            <div class="card mb-3">
                <img class="img-fluid" id="showPics" src="<%= campground.image %>"  alt="<%= campground.name %>">
                <div class="card-body">
                    <p class="float-right">$<%=campground.price %>/night</p>
                    <h3 class="card-title"><a><strong><%=campground.name%></strong></a></h3>
						<h5>
							<%= campground.location %>
						</h5>
							<p>
								<em>Submitted by: <span class="nameSpan"><strong> <%= campground.author.username %> </strong></span></em>
							</p>
							<hr>
							<p class="card-text"><%= campground.description %></p>
					
                    
                  <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                   <a class="btn btn-sm btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit Post</a>
                        <form id="delete" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete Post</button>
                        </form> 
                        <% } %>
                </div>
            </div>
		</div>
		 <div class="col-lg-3 map">
            
           
            <div id="map"></div>
        </div>
		   
	</div>

		   
            <div class="card">
				<div class="card-body">
					<div class="text-center">
                    
						<h2>Comments</h2>
						<hr>
                </div>
					
				<div class="text-center commentHead">
                    
                    <a class="btn btn-success mx-auto" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
						 
					
					
					<div class="row">
                
                <% campground.comments.forEach(function(comment){ %>
                    
                        <div class="col-md-12 mb-2">
							<div class="card">
								<div class="card-body">
									<div class="float-left">
										
										<p class="card-title"><strong><span style="text-transform:capitalize"><%= comment.author.username %></span></strong></p>
										<p class="card-text"><%= comment.text %> </p>
									</div>
									  <div class="float-right">
                 
                  
                  <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                  <div class="float-right">
                    <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                    <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger">DELETE</button>
                    </form>
                  </div>
									
										
				
                            <% } %>
                        </div>
                    </div>
					    </div>
        </div>
                <% }) %>
                
        
    				</div>
				</div>
			</div>
		</div>
	</div>

	
	

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_LDFMFg3s86Plx3ir-L14RUHW4RZiCqY&callback=initMap"></script>

<% include ../partials/footer %>
	









